.loadercon {
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 20;
    position: fixed;
}

.mainlcon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -50%);
}

.mainl {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid dodgerblue;
    border-left: 10px solid dodgerblue;
    animation: any1 1s linear infinite;
}

.mainl2 {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-bottom: 10px solid yellow;
    border-left: 10px solid yellow;
    animation: any2 2s linear infinite;
}

.mainl1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid red;
    border-right: 10px solid red;
    animation: any1 1s linear infinite;
}

.mainl3 {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid orange;
    border-right: 10px solid orange;
    animation: any2 1s linear infinite;
}

@keyframes any1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes any2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.wwy,
.iwteyp,
.tgow,
.fcps,
.asv,
.yn,
.pm,
.wc,
.about {
    width: 45%;
    box-shadow: 0 0 25px dodgerblue;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    padding-bottom: 70px;
    display: block;
    position: relative;
}

.wwy,
.yn,
.fcps,
.pm,
.about {
    float: left;
}

.iwteyp,
.tgow,
.asv,
.wc {
    float: right;
}

.asv,
.tgow,
.yn {
    top: 30px;
}

.asv,
.fcps {
    top: 60px
}

.pm,
.wc {
    top: 90px;
}

.about {
    top: 120px;
}

.wwyimg,
.iwteypimg,
.tgowimg,
.fcpsimg,
.asvimg,
.ynimg,
.pmimg,
.wcimg {
    width: 90%;
    padding: 5%;
    border-radius: 40px;
}

.wwyp,
.iwteypp,
.tgowp,
.fcpsp,
.asvp,
.ynp,
.msp,
.pmp,
.wcp {
    font-size: 22px;
    position: relative;
    left: 15%;
    top: 20px;
    width: 70%;
    font-family: Verdana
}

.wwya1,
.iwteypa1,
.tgowa1,
.fcpsa1,
.asva1,
.yna1,
.pma1,
.wca1,
.wwya2,
.iwteypa2,
.tgowa2,
.fcpsa2,
.asva2,
.yna2,
.pma2,
.wca2 {
    position: relative;
    text-decoration: none;
    color: #fff;
    left: 90px;
    top: 9px;
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

.wwya1,
.iwteypa1,
.tgowa1,
.fcpsa1,
.asva1,
.yna1,
.pma1,
.wca1 {
    background: orange;
}

.wwya2,
.iwteypa2,
.tgowa2,
.fcpsa2,
.asva2,
.yna2,
.pma2,
.wca2 {
    top: 30px;
    background: dodgerblue;
}

.head,
.tgowhead {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 20px
}

.themeimg {
    width: 99%;
    filter: blur(2px);
    z-index: -1;
}

.themep {
    position: absolute;
    font-size: 100px;
    font-family: verdana;
    left: 22%;
    top: 25%;
    color: gold;
    z-index: 2;
}

.detailscon {
    padding: 30px;
    padding-right: 3%;
    padding-left: 3%;
}

.ans {
    color: dodgerblue
}

.top {
    position: fixed;
    bottom: 40px;
    right: 50px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: yellow;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.7;
}

.topp {
    position: relative;
    top: 0px;
    width: 70px;
    left: 0px;
    color: dodgerblue;
    font-family: verdana;
    font-size: 17px;
}

.top:hover {
    box-shadow: 0 0 0 30px gold,
        0 0 0 60px orange;
}

.menubar {
    width: 100%;
    height: 70px;
    background: dodgerblue;
    border-radius: 5px;
    position: fixed;
    z-index: 4;
}

.profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 40px;
    top: 7px;
    cursor: pointer;
    z-index: 3;
}

.signinper {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

.option {
    font-size: 25px;
    font-family: Verdana;
    top: 0;
    position: relative;
    float: right;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    z-index: 3;
}

.option:hover {
    background: rgba(255, 255, 255, 0.4);
}

.option:active {
    background: rgba(255, 255, 255, 0.7);
}

.signinp {
    font-size: 25px;
    font-family: verdana;
    position: absolute;
    color: #fff;
    left: 110px;
    top: -5px;
    z-index: 3;
}

.share {
    position: relative;
    width: 106%;
    height: 500px;
    background: #172727;
    top: 150px;
    left: -30px;
    float: left;
}

.msabout {
    font-size: 20px;
    font-family: verdana;
    color: dodgerblue;
}


/*
<!----------------------------------
------------------------------------
------------------------------------
------------------------------------
------------------------------------
------------------------------------
-----------------------For Mobile----
-------------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
-------------------------------------
----------->
*/
.menuicon {
    display: none;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 9px;
    left: 10px;
    z-index: 6;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-right: 7px;
    border-radius: 5px;
    background: dodgerblue;
    cursor: pointer;
}

.menuiconcheck {
    opacity: 0;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 9px;
    left: 10px;
    z-index: 7;
    cursor: pointer;
}

@media (max-width:768px) {
    body {
        margin: 4px;
    }

    .detailscon {
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .wwyimg,
    .tgowimg,
    .fcpsimg,
    .asvimg,
    .ynimg,
    .pmimg,
    .wcimg,
    .iwteypimg {
        border-radius: 27px;
    }

    .menubar {
        position: fixed;
        width: 60%;
        border-radius: 3px;
        transition: 2s;
        height: 300px;
        display: none;
        z-index: 4;
    }

    .profile {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 70px;
        top: 10px;
        cursor: pointer;
        z-index: 3;
    }

    .signinp {
        font-size: 15px;
        font-family: verdana;
        position: absolute;
        color: #fff;
        left: 105px;
        top: 0px;
        z-index: 3;
    }

    .option {
        font-size: 22px;
        font-family: Verdana;
        top: 50px;
        text-align: center;
        position: relative;
        color: white;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        z-index: 3;

    }

    .menuicon,
    .menuiconcheck {
        display: block;
    }

    .wwy,
    .tgow,
    .fcps,
    .asv,
    .yn,
    .pm,
    .wc,
    .about,
    .iwteyp {
        width: 99%;
        float: left;
        border-radius: 10px;
        padding: 7px;
        padding-bottom: 50px;
        position: relative;
        left: -6px;
    }

    .iwteyp {
        top: 35px;
    }

    .yn {
        position: relative;
        top: 65px;
    }

    .tgow {
        top: 95px;
    }

    .fcps {
        top: 125px;
    }

    .asv {
        top: 155px;
    }

    .pm {
        top: 185px;
    }

    .wc {
        top: 215px;
    }

    .about {
        top: 245px;
    }

    .share {
        top: 275px;
    }

    .menuiconcheck:checked~.menubar {
        display: block;
    }

    .top {
        right: 10px;
        width: 60px;
        height: 60px;
    }

    .topp {
        font-size: 15px;
        width: 60%;
        position: absolute;
        left: 9px;
        top: -7px;
    }

    .wwya1,
    .iwteypa1,
    .tgowa1,
    .fcpsa1,
    .asva1,
    .yna1,
    .pma1,
    .wca1,
    .wwya2,
    .iwteypa2,
    .tgowa2,
    .fcpsa2,
    .asva2,
    .yna2,
    .pma2,
    .wca2 {
        font-size: 18px;
        padding-left: 25px;
        padding-right: 25px;
        left: 20%;
        font-family: verdana;
        border-radius: 7px;
    }

    .wwyp,
    .tgowp,
    .fcpsp,
    .asvp,
    .ynp,
    .msp,
    .pmp,
    .wcp,
    .iwteypp {
        font-size: 18px;
        left: 10%;
    }

    .head,
    .tgowhead {
        font-size: 22px;
    }

    .themep {
        font-size: 40px;
        left: 17%;
        top: 7%;
    }

    .msabout {
        font-size: 18px;
    }

    .ans {
        font-size: 18px;
    }
}





.socialmedia {
    width: 50px;
    position: relative;
    top: 25px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 7px;
}

.socialmedia:active {
    box-shadow: 0px 0px 25px #fff;
    background: dodgerblue;
}

.socialmedia:hover {
    box-shadow: 0px 0px 25px #fff;
    background: lightblue;
}

.followme,
.developer,
.linksp {
    font-size: 25px;
    font-family: verdana;
    color: #fff;
    position: relative;
}

.followme,
.developer {
    text-align: center;
    top: 30px;
}

.linksp {
    top: 45px;
    left: 30%;
    width: 70%;
}

.link {
    color: dodgerblue;
    font-family: verdana;
    text-decoration: none;
}

@media (max-width:768px) {

    .followme,
    .developer {
        font-size: 20px;
    }

    .linksp {
        width: 60%;
        left: 33%;
        font-size: 20px;
    }

    .link {
        position: relative;
        left: -30%;
        font-size: 15px;
    }

    .socialmedia {
        padding: 5px;
        width: 30px;
    }
}